@model IEnumerable<NTAccounting.Models.Transaction>

@{
    ViewData["Title"] = "Index";
}

<h2>
    <a asp-controller="Transactions" asp-action="Index" asp-route-id="@null">Index</a>
</h2>

<p>
    <a asp-action="Create">Create New</a>
</p>
<table class="table">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.Time)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Name)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.FinancialAccountID)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Amount)
        </th>
        <th></th>
    </tr>
    
@foreach (var item in Model) {
    <tr>
        <td>
            @Html.DisplayFor(modelItem => item.Time)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Name)
        </td>
        <td>
            <a asp-action="Index" asp-route-id="@item.FinancialAccountID">
                @Html.DisplayFor(modelItem => item.FinancialAccount.Name)
            </a>
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Amount)
        </td>
        <td>
            <a asp-action="Edit" asp-route-id="@item.ID">Edit</a> |
            <a asp-action="Details" asp-route-id="@item.ID">Details</a> |
            <a asp-action="Delete" asp-route-id="@item.ID">Delete</a>
        </td>
    </tr>
}
</table>

<div>
    <a asp-controller="Transactions" asp-action="Index" asp-route-id="@null">Back to List</a>
</div>